@import url(/common/css/jhp/typography.css);
@import url(/common/css/jhp/fckStyles.css);

/*Site Specific Styles*/

.box h2 {
	background:url(../images/box_top.gif) top left no-repeat;
}

.box h2.rightGrey {
	background:url(../images/box_top_right_grey.gif) top left no-repeat;
}

.box h2.rightWhite {
	background:url(../images/box_top_right_white.gif) top left no-repeat;
}

a {color:#2685BB; text-decoration:none;}
a:hover, a:visited:hover {color:#69BDED; text-decoration:underline;}
a:visited {color:#2685BB;}
#promoBox h1, #promoBox2 h1, hr {color:#2685BB;}
h1.underline, h2.underline, span.underline, .quoteBox, .leftMenu h2 {border-color:#2685BB;}