@import url(typography.css);

/*CSS Mobile Device Styles*/

.offScreen {
	position:absolute;
	left:-999em;
}

#logoWrap p, #logoWrap img, #promoBoxWrap img, #contentWrap img, #footer h2, .boxBkgrdRightWhite h2.rightWhite, #rightCol2Block, #rightCol3Block, 
.searchSite ol li label, .mobileSearchArea p, .boxBkgrdRightGrey h2.rightGrey, .customRightCol img, #leftColWrap img, 
#promoBoxWrap p embed, #openStackTrace, #goog-fixurl, #stackTraceError {
	display:none;
}

#promoContent ul, .leftMenu ul, .searchSite ol, #footer ul, .formWrapper form fieldset ol {
	list-style:none;
}

#promoContent ul, .leftMenu ul, .searchSite ol, #footer ul, .searchSite fieldset p {
	margin:0;
	padding:0;
}

.noBorder {border:none !important;}

/*#centerWrap {width:97%; min-width:340px;}*/

#contentWrap {padding-top:15px;}
#promoBoxWrap {margin-top:-15px;}
/*#centerWrap {min-width:350px;}*/
h1 {font-size:1.8em;}
h1.siteTitle {margin-top:80px;}
#promoBox2 {margin-top:34px;}
#contentWrap h1 {margin-top:34px;}
h1.siteMainHeader {border-top:1px solid #D0D0D0; padding:5px; width:97%; display:block; position:absolute; top:-20px; left:0;}
#footerWrap {padding-top:5px;}
.leftMenu h2 {border-bottom:3px solid #86B1C2; text-transform:uppercase; margin-bottom:2px;}

.underline {display:block; padding-bottom:5px; margin-bottom:5px; border-bottom:3px solid #8abfd4;}

.box {border:1px solid #D0D0D0; padding:5px; border-top:none; clear:both;}
.box h2 {background-color:#F7F7F7; margin:-5px -5px 5px -5px; padding:5px; font-size:1.2em; text-transform:uppercase; border-top:3px solid #86B1C2;}

.boxRightGrey {border:none; padding:0;}
.boxBkgrdRightGrey div.boxContent form legend {float:left; font-size:1.1em; padding-top:3px; margin-right:5px;}
.searchSite {border:none; position:absolute; top:5px; left:5px; border-bottom:1px solid #D0D0D0; width:97%;}

.searchSite fieldset {float:left; width:100%; padding-bottom:5px; }

#breadcrumbs {position:absolute; top:37px; left:5px;}

.leftMenu h2 {width:100%; border-bottom:3px solid #86B1C2; text-transform:uppercase; padding:0 0 0.5em 0; margin:0 0 0.2em 0; color:#3F3F3F; font-size:1.2em;}
.leftMenu ul {list-style:none; line-height:1.9em; margin:0 0 1em 0; font-size:1em;}
.leftMenu ul a {text-decoration:none;}
.leftMenu ul a:hover{text-decoration:underline;}


form.searchSite input.searchGoBut {cursor:pointer; text-transform:uppercase;}

#promoBoxWrap, .box, .leftMenu, .searchSite {margin-bottom:10px;}
#centerWrap {padding:5px;}	
#promoContent h2 {font-size:1em;} 

#promoBox ul, #promoBox2 ul {list-style:none; font-size:1.1em; color:#878787; line-height:1.35em; margin:0; padding:0;}

.boxBkgrdRightGrey div.boxContent form ol li, #footer ul li {display:inline;}

#footerWrap {background:url(/common/images/jhp/footer_bkgrd.gif) bottom left repeat-x; height:41px; padding-bottom:30px; border-top:1px solid #D0D0D0; clear:both;}
#footer {background:url(/common/images/jhp/wiley_black_logo.gif) bottom right no-repeat; height:41px; padding-bottom:30px;}
#footer a {font-weight:normal; font-size:1.1em;}
#footer ul li {border-right:1px solid #3F3F3F; padding-right:5px;}

hr {clear:both; color:#8abfd4; height:3px; border: 0; background-color:#8abfd4;	margin:0 0 1.5em 0;}
.formWrapper form fieldset ol li img, .customRightCol h2 {display:block !important;}

/*Error Styles*/
.errorHeading h1 {display:block;}
.errorHeading h1 {font-size:2.5em; color:#0073A1; padding:0;}
.errorText {color:#3F3F3F;}
.errorText h2 {font-size:1.4em;	margin:0 0 5px 0;}
.errorText #errorUrl {font-weight:normal; color:#CC3300;}

/*New WOL Styles*/

h1.detailHeader {font-family:arial,helvetica,sans-serif; font-size:1.68em; line-height:1.19em; letter-spacing:0; color:#3F3F3F; margin-bottom:0.8em; border-bottom:3px solid #8ABFD4;padding-bottom:0.9em;}
.wolJournalXmlAbstract div.para p {font-family: Arial,"Lucida Grande",Geneva,Verdana,Helvetica,sans-serif; font-size:1.2em; margin-bottom:1em; line-height:1.5em;}
.wolJournalXmlAbstract div.section h4 {font-size:1.1em;}
p.noInformation {margin-bottom:5px;}
h2.doiHeader {width:206px; padding-top:18px; text-transform: uppercase; font-size:1.2em; color:#333; font-family:arial,helvetica,sans-serif; letter-spacing: normal; border-top:1px solid #808080; }
p.jhpDoi {margin-bottom:0px; font-family:arial,helvetica,sans-serif; font-size:1.2em;  }
p.authors {font-family:arial,helvetica,sans-serif; font-size:1.2em; margin-bottom:10px; line-height:1.4em; border-bottom:1px solid #808080; padding-bottom:1em;}
h2.authorTitle {font-size:1.2em;}
p a.doiLink {font-weight:normal; font-size:1.1em; letter-spacing: normal !important; text-decoration: none; color:#336699;}
p.articleDate { padding-top:15px; font-style: italic; font-family:arial,helvetica,sans-serif; font-size:1.09em; }
.offScreen {position: absolute; left:-999em;}
div.para ul.custom li span.bullet {display:none;}
span.wisTagTitle  {clear:both;display:block;}
.wisTagTitleDetailPage {margin:0; padding:0;}
ul.wisTagTitleDetailPage li {display:inline;margin:0; padding:0; line-height:15px; font-size:1.091em; font-weight:bold; letter-spacing:-0.06em;}
.tagList {position:absolute; top:0; left:0;}


span.wolTier1Heading, span.wolTier2Heading, span.wolTier3Heading {clear:both;display:block;margin-bottom:0.3em;}
span.wolTier1Heading {font-size:1.3em;color: #3F3F3F;}
span.wolTier2Heading {font-size:1.2em;color: #4F4F4F;}
span.wolTier3Heading {font-size:1em;color: #5F5F5F;}


.formWrapper {margin-bottom:10px;}
.formWrapper form {margin:0 5px;}
.formWrapper form fieldset {border:none;}
.formWrapper form label {float:left; width:100px; margin:0 10px 0 0; font-size:1.1em;}
.formWrapper form label.labelCheckbox {width:100%; display:inline-block; margin:2px 0 2px 0;padding:0;}
.formWrapper form label.labelRadio {width:100%; display:inline-block; margin:2px 0 2px 0;padding:0;}
.formWrapper form label.labelRadio input {width:2em; margin:0; padding:0;}
.formWrapper form label.doubleLine {display:block;height:4em;}
.formWrapper form select {width:150px;}
.formWrapper form input {border:1px solid grey;	width:150px;  margin:0;}
.formWrapper form input.check {width:20px;display:inline-block;text-align:left ; }
.formWrapper form textarea {border:1px solid grey; height:20em; width:16em; }
.formWrapper ol {list-style:none; margin:0 0 0 5px;}
.formWrapper ol li {width:100%; float:left;	clear:both;	margin:5px 0 0 0;}
.formWrapper ol li.spaceBefore {margin-top:2em;}
.formWrapper form input.submitMe{width:8em;background:#535353;color:#fff;font-weight:bold;border:0;font-size:1.4em;padding:0 5px;}
.formWrapper h2 {margin:5px 0; padding-top:5px;}

form.searchSite fieldset {display:inline;}
form.cancerSearch fieldset ol {float:left;}
form.cancerSearch fieldset ol li input {width:100px;}
form.cancerSearch fieldset ol li input.searchGoBut {width:auto;}
form.cancerSearch fieldset select {float:left; width:100px; margin:0 5px;}
form.cancerSearch fieldset p {float:left; margin-left:5px;}

.standardListEntry {
	margin-bottom:10px;	
	display:inline-block;
}

.standardListEntry a  {
	margin:0 4px;
}

/* Small Devices */
@media screen and (max-width: 240px) {
	#centerWrap {
		min-width: 230px !important;
		max-width: 230px !important;
	}
	form.searchSite input {width:150px; height:18px;}
	form.searchSite input.searchGoBut {width:24px; height:20px; font-size:1em;}
	.mobileIntro {padding:0px !important; margin:60px 0 0 0 !important; float:left;}
	form.cancerSearch fieldset ol li input {width:140px;}
	form.cancerSearch fieldset select {float:left; width:80px; margin:0 5px; clear:both;}
	form.cancerSearch fieldset p {float:left; margin-left:5px; clear:both;}
}

/* Smart phone portrait and landscape */
@media screen and (min-width: 320px) and (max-width: 480px) {
	#centerWrap {
		min-width: 310px !important;
		max-width: 480px !important;
	}
	.mobileIntro {margin:40px 0 0 0 !important; float:left;}
	form.cancerSearch fieldset {}
	form.cancerSearch fieldset p {float:left; margin-left:5px; clear:both;}
}

/* Large screen smart phones in landscape and additional tablet sizes (Galaxy Tab) */
@media screen and (min-width: 480px) and (max-width: 600px) {
	#centerWrap {
		min-width: 470px !important;
		max-width: 600px !important;
	}
	.mobileIntro {margin:15px 0 0 0 !important; float:left;}
	form.cancerSearch fieldset select {clear:both;}
}

/* ipad portrait size */
@media screen and (min-width: 600px) and (max-width: 768px) {
	#centerWrap {
		min-width: 590px !important;
		max-width: 768px !important;
	}
}

@media screen and (min-width: 400px) and (max-width: 480px), screen and (min-width: 480px) and (max-width: 600px), screen and (min-width: 600px) and (max-width: 768px) {
	.contentWrapLeftCol {float:left; width:49%;}
	.contentWrapRightCol {float:right; width:49%;}
	.colBlockWrap div#menu, .leftMenu {clear:both;}
	#footer {background:url(/common/images/jhp/wiley_black_logo.gif) top right no-repeat;}
	#footer ul {margin-right:100px;}
	#footerWrap {padding-bottom:0px;}
	.formWrapper form select {width:200px;}
	.formWrapper form input {width:250px;}
}	

@media screen and (min-width: 600px) and (max-width: 768px) {
	#contentWrap {width:73%; float:right; margin:0; padding:0 !important;}
	#leftColWrap {width:26%; float:left; margin-top:0px;}
	#contentWrap h1 {margin-top:5px;}
	#promoBoxWrap h1 {margin-top:43px;}
	#menu, .leftMenu {margin-top:30px;}
	#promoBox2 {margin-top:0;}
	#breadcrumbs {position:static; margin:30px 0 0 0px;}
	.underline {display:block; margin-top:0; padding-top:0; padding-bottom:5px; margin-bottom:5px; border-bottom:3px solid #8abfd4;}
	h1.siteMainHeader {padding-top:20px;}
	.formWrapper form select {width:300px;}
	.formWrapper form input {width:250px;}
}