/*Typography Styles*/
* {
	margin:0;
	padding:0;	
}

body {
	font-family:verdana, sans-serif;
	font-size:0.8em;
}

#leftColWrap, #rightColWrap, #footerWrap {
	display:none;
}

img {
	border:0;
}

h1,h2,h3,h4,h5,h6 {
	margin:0 0 0.5em 0;
	padding:0;
}

h1 {
	font-size:1.6em;
}



h2 {
display:block;
clear:both;
margin:1em 0 0 0;
font-size:1.2em;
}

p {
	margin:0 0 0.5em 0;
	padding:0;
}

ul {
	margin:0 0 0.5em 0;
	padding:0;
}

ul li {
	margin:0;
	padding:0;
}