/* Site Specfic Styles */

body {
	background-color:#E5E5E5;
}

/*Site Logo Header positioned off screen */
#logoWrap h1 a {
	display:block;
	text-indent:-9999em;
	height:85px;
	width:410px;
	/*background:url(../images/prescriber-logo.png) 15px 20px no-repeat;*/
}

/* Custom Column Block Container Styles. Add / remove as many as site requires */



/*Form Styles*/
form.searchSite legend {
	font-weight:400;
	text-transform:uppercase;
	color:#3F3F3F;
	font-size:1.3em;
	margin:0 0 0.5em 0;
}

form.searchSite label {
	position:absolute;
	top:-9999em;
}

form.searchSite ol {
	list-style:none;
	font-size:0.9em;
	margin:0 !important;
	padding:0 !important;
}

form.searchSite ol li {
	display:inline;
}

form.searchSite input.searchGoBut {
	margin:0 0 0 5px;
	background:#535353;
	color:#fff;
	font-weight:bold;
	border:0;
	font-size:1.4em;
	padding:0 5px;
	width:2.5em;
	text-transform:uppercase;
}

form.searchSite input {
	width:11em;
}


form.searchSite p {
	margin:0.2em 0 0.2em 0!important;
	padding:0 !important;
}

form.searchSite select {
	font-size:1.1em;
	width:13.5em;
}

/* added for forms*/

/*Basic Form Styles*/
.submitMe{background:#535353;color:#fff;font-weight:bold;border:0;font-size:1.4em;padding:0 5px;}
#shell #container #content #rightCol .silver .moduleContent form {	float:left;margin:0; padding:0;}
#shell #container #content #rightCol .silver .moduleContent form fieldset {	border:none;	margin:0;	padding:0;}
#shell #container #content #rightCol .silver .moduleContent form legend {	font-size:1.2em;margin:0;text-transform:uppercase;}
#shell #container #content #rightCol .silver .moduleContent form label {	display:none; float:left;	font-size:1.2em;margin:0;}
#shell #container #content #rightCol .silver .moduleContent form input {	border:1px solid grey;	}
#shell #container #content #rightCol .silver .moduleContent ol {	list-style:none;display:inline}
#shell #container #content #rightCol .silver .moduleContent ol li {	float:left;	margin:1em 0 0 0; }


.formWrapper {*width:90%;}
.formWrapper form {	float:left;margin:0 0 0 1em; width:100%; *width:95%;}
.formWrapper form fieldset {	border:none;	margin:0.5em;	padding:0 1em 1em 0.5em;}
.formWrapper form label {	float:left;	width:10em; *width:8em; 	font-size:1.2em; margin:0 1em 0 0.5em;}
.formWrapper form label.labelCheckbox {width:100%; display:inline-block; margin:0.2em 0 0.2em 0;padding:0;}
.formWrapper form label.labelRadio {width:100%; display:inline-block; margin:0.2em 0 0.2em 0;padding:0;}
.formWrapper form label.labelRadio input {width:2em; margin:0; padding:0;}
.formWrapper form label.doubleLine {display:block;height:4em;}
.formWrapper form input {	border:1px solid grey;	width:12em;  margin:0; }
.formWrapper form input.check {width:20px;display:inline-block;text-align:left ; }
.formWrapper form textarea {	border:1px solid grey;	height:20em;	width:16em; }
.formWrapper ol {	list-style:none;}
.formWrapper ol li {	width:100%; float:left;	clear:both;	margin:0.5em 0 0 0;}
.formWrapper ol li.spaceBefore {margin-top:2em;}
.formWrapper form input.submitMe{width:8em;background:#535353;color:#fff;font-weight:bold;border:0;font-size:1.4em;padding:0 5px;}

.contactForm legend {
	position:absolute;
	display:block;
	text-indent:-9999em;
	*text-indent:0;
	*left:-9999em;
	*top:-9999em;
}

.thumbnail {
	float:left;
	margin:0.5em 1em 0.5em 0;
}

.thumbnailLeft {
	float:left;
	*width:100px;
	margin-right:10px;
	margin-top:5px;
}

.thumbnailLeft img {
	margin-top:0;
	margin-right:0;
	width:100px;
}

.thumbnailRight {
	float:right;
	*width:100px;
	margin-left:10px;
	margin-top:5px;
}

.thumbnailRight img {
	margin-top:0;
	margin-left:-5px;
	width:100px;
}



#summaryContent {
	display:block;
	margin: 0 !important;
	padding:0 !important;
	width:100%;
}

#summaryContent p {
	margin: 0 !important;
	padding:0 !important;
}

#descriptionContent {
	display:block;
	clear:both;
	width:100%;
	padding:0.5em 0 0 0;
}
/*Footer Styles*/

#footer h2 {
	position: absolute;
	left:-999em;
}

#footer a {
	font-weight:normal;
	font-size:1em;
	letter-spacing:0em;
}

#footer ul {
	margin:0 0 0 0.7em !important;
	padding:1.6em 0 0 0 !important;
}

#footer ul li {
	list-style:none;
	display:inline;
	margin:1em -0.3em 0 0;
	*margin:1em -0.6em 0 0.6em;
	padding:0 0.4em 0 0.4em;
	*padding:0 0 0 0.4em;
	border-right:1px solid #3F3F3F;
}

.tocListItem, .newsListItem, .searchListItem {
	clear:both;
	float:left;
	width:100%;
	margin:0 0 1em 0;
}

.searchListItem p {
	margin:0 !important;
}

.searchListItem ul {
	margin:0 !important;
}

.tocListItem ul {
	margin:0 !important;
	padding:0 !important;
}

.tocListItem p {
	margin:0 !important;
	padding:0 !important;
	clear:both;
}

.newsListItem p {
	margin:0 !important;
	padding:0 !important;
}

.tocListItem ul {
	margin:0 0 0.8em 0 !important;
}

.tocListItem ul li {
	line-height:1.1em;
	margin:0.2em 0 0 0;
}

.tocListItem ul li a {
	line-height:1.3em;
}

.moreLink {
	float:right;
}

/*Error Styles*/
.errorHeading h1 {
	font-size:3.5em;
	color:#0073A1;
	padding:0.3em 0 0 0.5em;
}

.errorText {
	color:#3F3F3F;
}

.errorText h2 {
	font-size:1.6em;
	margin:0 0 0.5em 0;
}

.errorText #errorUrl {
	font-weight:normal;
	color:#CC3300;
}

#stackTraceError {
	font-size:1.2em;
	position:absolute;
	background-color:#fff;
	border:1px solid #3F3F3F;
	margin:8.4em 0 0 1em;
	padding:1em;
	width:904px;
}

#stackTraceError pre {
	font-family:verdana, sans-serif;
}

.hidden {
	visibility:hidden;
}

.closeErrorStack {
	font-family:verdana, sans-serif;
	font-size:0.9em;
	margin:1em 0 0 0;
}

#openStackTrace {
	width:5em;
	text-align:bottom;
	margin:1.2em 0 0 0;
	padding:0 0 0 0;
	font-size:2.5em;
	float:left;
}

#openStackTrace a:hover, #openStackTrace a, #openStackTrace a:visited {
	text-decoration:none;
	color:#fff;
}

/*New WOL Styles*/

h1.detailHeader {font-family:arial,helvetica,sans-serif; font-size:1.68em; line-height:1.19em; letter-spacing:0; color:#3F3F3F; margin-bottom:0.8em; border-bottom:3px solid #8ABFD4;padding-bottom:0.9em;}
.wolJournalXmlAbstract div.para p {font-family: Arial,"Lucida Grande",Geneva,Verdana,Helvetica,sans-serif; font-size:1.2em; margin-bottom:1em; line-height:1.5em;}
.wolJournalXmlAbstract div.section h4 {font-size:1.1em;}
p.noInformation {margin-bottom:5px;}
h2.doiHeader {width:206px; padding-top:18px; text-transform: uppercase; font-size:1.2em; color:#333; font-family:arial,helvetica,sans-serif; letter-spacing: normal; border-top:1px solid #808080; }
p.jhpDoi {margin-bottom:0px; font-family:arial,helvetica,sans-serif; font-size:1.2em;  }
p.authors {font-family:arial,helvetica,sans-serif; font-size:1.2em; margin-bottom:10px; line-height:1.4em; border-bottom:1px solid #808080; padding-bottom:1em;}
h2.authorTitle {font-size:1.2em;}
p a.doiLink {font-weight:normal; font-size:1.1em; letter-spacing: normal !important; text-decoration: none; color:#336699;}
p.articleDate { padding-top:15px; font-style: italic; font-family:arial,helvetica,sans-serif; font-size:1.09em; }
.offScreen {position: absolute; left:-999em;}
div.para ul.custom li span.bullet {display:none;}
span.wisTagTitle  {clear:both;display:block;}
.wisTagTitleDetailPage {margin:0; padding:0;}
ul.wisTagTitleDetailPage li {display:inline;margin:0; padding:0; line-height:15px; font-size:1.091em; font-weight:bold; letter-spacing:-0.06em;}
.tagList {position:absolute; top:0; left:0;}


span.wolTier1Heading, span.wolTier2Heading, span.wolTier3Heading {clear:both;display:block;margin-bottom:0.3em;}
span.wolTier1Heading {font-size:1.3em;color: #3F3F3F;}
span.wolTier2Heading {font-size:1.2em;color: #4F4F4F;}
span.wolTier3Heading {font-size:1em;color: #5F5F5F;}

