/* Template Styles for CKP 3 column Layout */

/* Site Layout Styles (Wrappers) construct main skeleton */

#centerWrap {
	margin:0 auto 0 auto;
	width:960px;
	background-color:#fff;
	background:url(/common/images/jhp/site_background_image.gif) top left repeat-y;
}

#marginWrap {
	margin:0 3px 0 3px;
}

#logoWrap {
	/* Set Hight & Width and path of Logo image below */
	background:url(/common/images/jhp/top-bkgrd.gif) top left repeat-x;
	height:91px;
	margin:0 0 20px 0;
}

#logoWrap p {
	margin:0 !important;
	padding:0 !important;
}

#mainBodyWrap {
	float:left;
	width:74.3%;
	_width:74.3%; /*IE6 Layout Hack*/
	/*border:1px solid blue;*/
}

#contentWrap {
	float:right;
	width:73%;
	_width:73%; /*IE6 Layout Hack*/
}

.detialPage {
	position: relative;
	padding-top:2.6em;
}

#breadcrumbs {
	margin:0 0 1em 0;
	color:#616161;
}

#leftColWrap {
	float:left;
	width:160px;
	padding:0 1% 0 1.7%;
}

#rightColWrap {
	float:right;
	width:228px;
	/*border:1px solid black;*/
}

#promoBox {
	margin:0 0 1em 0;
	padding:2em 0 2em 2em;
	float:left;
	background:url(/common/images/jhp/journal-bg.png) bottom left no-repeat;
	min-height:130px;
	min-width:496px;
}

#promoBox2 {
	margin:0 0 1em 0;
	padding:2em 0 2em 2em;
	float:left;
	background:url(/common/images/jhp/journal-bg.png) bottom left no-repeat;
	min-height:130px;
	min-width:496px;
}


.contentWrapLeftCol {
	width:254px;
	float:left;
}

.contentWrapRightCol {
	width:254px;
	float:right;
}

/* Column Block consistant style. Same margin / padding can be set here */
.colBlockWrap {
	clear:both;
	margin:0 0 0.75em 0;
	*margin:0 !important;
	float:left;
	width:100%;
}


#leftColBlock1 {
	/*border:1px solid red;*/
}

#leftColBlock2 {
	/*border:1px solid blue;*/
}

#leftCol3Block {
	/*border:1px solid green;*/
}

#rightCol1Block {
	/*border:1px solid black;*/
}

#rightCol2Block {
	/*border:1px solid yellow;	*/
}

#rightCol3Block {
	/*border:1px solid cyan;*/
}

#footerWrap {
	clear:both;
	background:url(/common/images/jhp/footer_bkgrd.gif) bottom left repeat-x;
	padding:1em 0 0 0;
}

#footer {
	background:url(/common/images/jhp/wiley_black_logo.gif) bottom right no-repeat;
	height:5em;
	font-size:1.1em;
}

/* Main feature List block container that can be repeated */
/*
.featureList {
	clear:both;
	height:100%;
	border:1px solid red;

}
*/


/* End Site Wrappers */
